.image-one img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1{
  text-align:center;
  color: #f5f5f5;
  font-family: 'Shippori Mincho', serif;
  font-size: 55px;
}

body {
  background-color: #F4F1EA;
}

div.w3-section {
  padding:10px;
  margin: 15px;
  background-color: #F4F1EA;
  border: solid 5px ##F4F1EA;
