.image-one img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1{
  font-family: 'PT serif', serif;
  text-align:center;
  font-size: 55px;
}

hr{
  background-color: green;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background-color: #F4F1EA;
  font-family: 'PT serif', serif;
}

p{
  font-family: 'PT serif', serif;
  font-size: 20px;
  color: black;
}

button {
  opacity:1.0;
  filter:alpha(opacity=60);
}

button:hover {
  opacity:0.6;
  filter:alpha(opacity=60);
}

div.w3-section {
  padding:0px;
  margin: 0px;
<<<<<<< HEAD
  background-color: #F4F1EA;
  border: solid 5px ##F4F1EA;
=======
  border: solid 5px #b8ff96;
>>>>>>> 90a22175515878103830b6d294ce06d9b4551023
