.image-one img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #F4F1EA;
}

.center-one {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-two {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-three {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-four {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* IMAGE STYLING GOES HERE */
#mediation-col img{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sleep-col img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#extericese-col img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#eating-col img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#help-col img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
