.image-one img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#front h1{
  font-size: 70px;
}

h1{
  text-align:center;
  font-family: "Raleway", Arial, sans-serif;
}

body {
  background-color: #F4F1EA;
  text-align:center;
  font-family: "Raleway", Arial, sans-serif;
}

 .btn {
  background-color: #DBC14A;
  border: none;
}

.center-one {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-two {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-three {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-four {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* IMAGE STYLING GOES HERE */
#mediation-col img{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#sleep-col img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#extericese-col img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#eating-col img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#help-col img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
